// @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,900&family=Inter:wght@400;500;700&display=swap');

@font-face {
  font-family: 'TTNormsPro';
  src: url('/fonts/TTNormsPro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TTNormsPro';
  src: url('/fonts/TTNormsPro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TTNormsPro';
  src: url('/fonts/TTNormsPro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TTNormsPro';
  src: url('/fonts/TTNormsPro-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}