@import './variables.scss';

:root {
    font-family: TTNormsPro, Inter, Avenir, system-ui, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    text-decoration: none;
    opacity: 1;
}

a:hover {
    opacity: 0.75;
    transition: opacity 0.25s linear;
}

button {
    opacity: 1;
}

button:hover {
    opacity: 0.75;
    transition: opacity 0.25s linear;
}

body {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr;
    box-sizing: border-box;
    height: max-content;
    position: relative;
    background-color: $black;
}