.title {
    color: black;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.main {
    height: max-content;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: none;
    padding-bottom: 200px;
    grid-area: 2 / 1 / 3 / 3;
    width: 100%;
    overflow-x: hidden;
}

.logo {
    width: 144px;
    height: 50px;
    margin-top: 40px;
    margin-left: 64px;
    position: absolute;
    z-index: 6;
    grid-area: 1 / 1 / 2 / 2;
}